APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# DB CUSTOM CONNECTION SETTING (config\database)
DB_CONNECTION=db_custom
DB_CONNECTION=db_aplikasi
DB_CONNECTION=db_bpjs
DB_CONNECTION=db_layanan
DB_CONNECTION=db_medicalrecord
DB_CONNECTION=db_pembayaran
DB_CONNECTION=db_pendaftaran
DB_CONNECTION=db_regonline
DB_CONNECTION=db_master

# DB TABLE NAME
DB_DATABASE_CUSTOM=simrspku_klaim
DB_DATABASE_APLIKASI=aplikasi
DB_DATABASE_BPJS=bpjs
DB_DATABASE_LAYANAN=layanan
DB_DATABASE_MEDICALRECORD=medicalrecord
DB_DATABASE_PEMBAYARAN=pembayaran
DB_DATABASE_PENDAFTARAN=pendaftaran
DB_DATABASE_REGONLINE=regonline
DB_DATABASE_MASTER=master

# CONNECTION *************
DB_HOST=XXX
DB_PORT=XXX
DB_USERNAME=XXX
DB_PASSWORD=XXX

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
